<!DOCTYPE html>
<html lang="en">

  <head>
  <title>greetplay</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
<style>

</style>

        <body>
                <div class="container">
                    <div class="pt-3 text-center text-white bg-secondary">
                    <h1>Please pick the relevant answers for {{country}}</h1>
                    <a type="button" class = "btn btn-primary" href="yes_game">Yes</a> <a type="button" class="btn btn-primary"  href="no_game">No</a></div> </div>   
            <div>

                <div>
                    <h2></h2>
              


                </div>
              </body>
      
</html>
